name: Linux Release

on:
  push:
    branches:
      - 'v0.0.*'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code from the repository
      - name: Checkout code
        uses: actions/checkout@v2

      # Set up Flutter (specify an exact version compatible with emotion_tracker)
      - name: Set up Flutter
        uses: subosito/flutter-action@v2

      # Install dependencies
      - name: Install dependencies
        run: |
          flutter pub get

      - name: Install GTK+ 3.0 dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev pkg-config

      # Build Linux version for release
      - name: Build Linux version
        run: flutter build linux --release

      # Extract the release version from the branch name (e.g., refs/heads/v0.0.1 -> v0.0.1)
      - name: Extract release version
        id: extract_version
        run: |
          VERSION=$(echo ${GITHUB_REF} | sed 's/refs\/heads\///')
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Print Current Directory
        run: |
          echo "Current directory:"
          pwd
          echo "Listing contents of the current directory:"
          ls -la

      # Create a tar.gz archive for the Linux executable
      - name: Create tar.gz archive
        run: |
          mkdir -p release
          tar -czvf "release/emotion_tracker-${{ env.VERSION }}.tar.gz" -C build/linux/x64/release/bundle emotion_tracker
          ls -la release

      # Create a GitHub Release for the given version (Upload the tar.gz file)
      - name: Create GitHub Release
        run: |
          gh release create $VERSION \
            release/emotion_tracker-${{ env.VERSION }}.tar.gz \
            --title "Release $VERSION" \
            --notes "Release $VERSION for branch $GITHUB_REF" \
            --repo $GITHUB_REPOSITORY
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
