name: Unified Release

on:
  push:
    branches:
      - 'v0.0.*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: release
      cancel-in-progress: true

    steps:
      # Checkout the code from the repository
      - name: Checkout code
        uses: actions/checkout@v2

      # Cache Flutter dependencies
      - name: Cache Flutter dependencies
        uses: actions/cache@v3
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-flutter-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: |
            ${{ runner.os }}-flutter-

      # Set up Flutter (specify an exact version compatible with emotion_tracker)
      - name: Set up Flutter
        uses: subosito/flutter-action@v2

      # Install dependencies
      - name: Install dependencies
        run: flutter pub get

      # Extract the release version from the branch name (e.g., refs/heads/v0.0.1 -> v0.0.1)
      - name: Extract release version
        id: extract_version
        run: |
          VERSION=$(echo ${GITHUB_REF} | sed 's/refs\/heads\///')
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Generate Keystore (Android)
        run: |
          keytool -genkey -v -keystore $HOME/keystore.jks -storetype JKS -keyalg RSA -keysize 2048 -validity 10000 -alias "$ANDROID_KEY_ALIAS" -dname "CN=Rohan Batra, OU=Open Source, O=Second Brain Database, L=Bidholi, ST=UK, C=IN" -storepass $ANDROID_KEYSTORE_PASSWORD -keypass $ANDROID_KEY_PASSWORD
        env:
          ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
          ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}

      # --- Run builds in parallel ---
      - name: Build Android (APK & AAB)
        run: |
          flutter build apk --release --no-shrink
          flutter build appbundle --release
        env:
          ANDROID_KEYSTORE: $HOME/keystore.jks
          ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
        working-directory: .

      # Cache system dependencies for Linux
      - name: Cache GTK+ 3.0 dependencies
        uses: actions/cache@v3
        with:
          path: /usr/lib/x86_64-linux-gnu
          key: ${{ runner.os }}-gtk-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: |
            ${{ runner.os }}-gtk-


      - name: Install GTK+ 3.0 dependencies (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev pkg-config

      - name: Build Linux version (Linux)
        run: flutter build linux --release

      - name: Cache AppImage tool
        uses: actions/cache@v3
        with:
          path: appimage/appimagetool-x86_64.AppImage
          key: ${{ runner.os }}-appimagetool-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: |
            ${{ runner.os }}-appimagetool-

      - name: Copy Linux binary to AppDir
        run: cp build/linux/x64/release/bundle/emotion_tracker appimage/Emotion-Tracker.AppDir/

      - name: Copy build to AppDir
        run: cp -r build/linux/x64/release/bundle/* appimage/Emotion-Tracker.AppDir/

      - name: Run appimagetool
        run: ./appimage/appimagetool-x86_64.AppImage ./appimage/Emotion-Tracker.AppDir ./appimage/Emotion_Tracker.Appimage

      - name: Create tar.gz archive for Linux executable
        run: |
          mkdir -p release
          tar -czvf "release/emotion_tracker-${{ env.VERSION }}.tar.gz" -C build/linux/x64/release bundle
          ls -la release

      - name: Enable Web for Flutter (Web)
        run: |
          if ! flutter config --list | grep -q "web"; then
            flutter config --enable-web
          fi

      - name: Build Flutter web app (Web)
        run: flutter build web --release

      - name: GitHub Pages (Web)
        uses: crazy-max/ghaction-github-pages@v4.1.0
        with:
          build_dir: build/web
          repo: ${{ github.repository }}
          target_branch: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # --- Create or Update GitHub Release ---
      - name: Check if Release Exists
        id: check_release
        run: |
          release_exists=$(gh release view $VERSION --json name --jq '.name' || echo "")
          if [ -z "$release_exists" ]; then
            echo "Release does not exist, creating a new one"
            echo "create=true" >> $GITHUB_ENV
          else
            echo "Release exists, updating the existing release"
            echo "create=false" >> $GITHUB_ENV
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Verify Files Exist
        id: verify_files
        run: |
          if [ -f "build/app/outputs/bundle/release/app-release.aab" ] && \
             [ -f "build/app/outputs/flutter-apk/app-release.apk" ] && \
             [ -f "appimage/Emotion_Tracker.Appimage" ] && \
             [ -f "release/emotion_tracker-${{ env.VERSION }}.tar.gz" ]; then
            echo "All files exist"
          else
            echo "One or more files do not exist"
            exit 1
          fi

      # --- Rename release files for industry naming ---
      - name: Rename release files for industry naming
        run: |
          # Define the new naming scheme, e.g., v1.2.3 -> project_name-v1.2.3
          NEW_NAME="Emotion_Tracker-${{ env.VERSION }}"
          
          # Rename APK
          mv build/app/outputs/flutter-apk/app-release.apk "release/${NEW_NAME}-apk-release.apk"
          
          # Rename AAB
          mv build/app/outputs/bundle/release/app-release.aab "release/${NEW_NAME}-aab-release.aab"
          
          # Rename AppImage
          mv appimage/Emotion_Tracker.Appimage "release/${NEW_NAME}-linux.AppImage"
          
          # Rename Tar.gz
          mv release/emotion_tracker-${{ env.VERSION }}.tar.gz "release/${NEW_NAME}-linux.tar.gz"
          
          echo "Renaming completed: ${NEW_NAME}"

      - name: Create or Update GitHub Release
        run: |
          echo "Checking if release exists..."
          release_exists=$(gh release view $VERSION --json name --jq '.name' || echo "")
          
          if [ -n "$release_exists" ]; then
            echo "Release exists, deleting the existing release..."
            gh release delete $VERSION --yes --repo $GITHUB_REPOSITORY
          else
            echo "Release does not exist, creating a new release."
          fi
          
          # Create the new release and upload the assets
          echo "Creating a new release and uploading assets..."
          gh release create $VERSION \
            release/${NEW_NAME}-apk-release.apk \
            release/${NEW_NAME}-aab-release.aab \
            release/${NEW_NAME}-linux.AppImage \
            release/${NEW_NAME}-linux.tar.gz \
            --title "Release $VERSION" \
            --notes "Release $VERSION for branch $GITHUB_REF" \
            --repo $GITHUB_REPOSITORY
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
